<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>

  <my-hero-gravatar [hero]="hero"></my-hero-gravatar>

  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" name="name" placeholder="name" />
  </div>
  <div>
    <label>email: </label>
    <input [(ngModel)]="hero.email" name="email" placeholder="email" />
  </div>
  <button (click)="goBack()" name="backButton">Back</button>
  <button (click)="save()" name="saveButton">Save</button>
</div>
